@font-face {
    font-family: "Outfit";
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}

body {
    background-color: hsl(212, 45%, 89%);
}

.attribution {
    position: relative;
    font-size: 11px;
    text-align: center;
    top: 70px;
}

.attribution a {color: hsl(228, 45%, 44%);}

.code {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    width: 400px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
}

.code p {
    text-align: center;
    font-family: Outfit;
    position: relative;
    top: 30px;
}

.code img {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 20px;
    width: 360px;
    border-radius: 15px;
}

.first {
    font-weight: 700;
    font-size: 23px;
    color: hsl(218, 44%, 22%);
}

.second {
    font-weight: 400;
    font-size: 18px;
    color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 500px) {
    .code {
        width: 300px;
        height: 480px;
    }

    .code img {
        width: 260px;
    }

    .first {
        font-size: 19px;
    }

    .second {
        font-size: 16px;
    }
}