@font-face {
    font-family: Outfit;
    src: url(https://fonts.google.com/specimen/Outfit);
}

body {
    background-color: hsl(212, 45%, 89%);
}

.attribution {
    position: relative;
    font-size: 11px;
    text-align: center;
    top: 70px;
}

.attribution a {color: hsl(228, 45%, 44%);}
      
p {
    text-align: center;
    font-family: "Outfit", sans-serif;
}

.code {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    width: 400px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
}

.code p {
    position: relative;
    top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.code img {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 20px;
    width: 360px;
    border-radius: 15px;
}

.first {
    font-weight: 700;
    font-size: 21px;
    color: hsl(218, 44%, 22%);
}

.second {
    font-weight: 400;
    font-size: 18px;
    color: hsl(220, 15%, 55%);
}