body {
    background-color: #d5e1ef;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {color: hsl(228, 45%, 44%);}
      
p {text-align: center;}

.image, .image img {
    border-radius: 15px;
}

.image {
    background-color: white;
    position: relative;
    width: 400px;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.image p, image img {
    position: inherit;
    top: 50px;
}

.image img {
    display: block;
    position: inherit;
    margin: 0 auto;
    top: 50px;
    width: 300px;
}

